<!--By Bukreedan Humaa Id:2412290 -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="{% static 'css/report.css' %}">
</head>
<body>
    {% include "nav.html" %} 
    
    <main>
        <header>
            Report
        </header>

        <section class="hero">
            <div class="form-box">
                <form id="reportForm" method="POST" action="{% url 'reviews:submit_report' %}">
                    {% csrf_token %}
                    <input type="text" name="reporter_name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <input type="text" name="subject" placeholder="Subject" required>
                    <textarea name="report_content" placeholder="Write your report..." required></textarea>
                    <button type="submit">Submit Report</button>
                </form>
            </div>
        </section>
    </main>
   
    {% include "footer.html" %}

    <!-- Link your JavaScript file -->
   <script src="{% static 'js/report.js' %}"></script>

</body>
</html>
