  body {
        background: url("https://img.freepik.com/premium-photo/car-is-waiting-sale-used-car-shop-background_85347-2663.jpg") no-repeat center center fixed;
        background-size: cover;
        min-height: 100vh;
        color: white;
        font-family: 'Poppins', sans-serif;
        }

        .register-container {
            max-width: 500px;
            margin: 70px auto;
            background: rgba(70, 52, 52, 0.403);
            backdrop-filter: blur(8px);
            border-radius: 15px;
            padding: 30px;
            box-shadow: 0 0 20px rgba(0,0,0,0.4);
        }

        h2 {
            font-family: 'Bebas Neue', cursive;
            letter-spacing: 1px;
            text-align: center;
            color: #000000;
        }

        .form-control {
            background-color: rgba(240, 240, 240, 0.9);
            border: 1px solid #ccc;
            color: #000;
        }
        

        .form-control:focus {
            background-color: rgba(240, 240, 240, 1);
            box-shadow: none;
            color: #000;
            border-color: #888;
        }

        .btn-signup {
            width: 100%;
            background: #e63946;
            border: none;
            font-weight: bold;
            transition: all 0.3s ease;
        }

        .btn-signup:hover {
            background: #271a1b;
        }

        .policy-text {
            font-size: 0.9rem;
            color: #a24646d2;
        }

        .contact-info {
            font-size: 0.85rem;
            margin-top: 20px;
            color: #000000;
            text-align: center;
        }
     

        nav {
        padding: 8px 40px !important; 
        }

        nav .logo-container img {
        height: 30px !important; 
        }

        nav .logo-container span {
        font-size: 18px !important;
        }

        nav ul li a {
         font-size: 15px !important; 
        padding: 5px 0 !important;
        }